name: Build Artifact
on:
  push:
    branches: ["main", "dev"]

jobs:
  build:
    name: Create build artifact (ZIP)
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set version from commit hash
        id: version
        shell: pwsh
        run: |
          $hash = (git rev-parse --short HEAD)
          echo "VERSION=$hash" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Create ZIP package (PowerShell)
        shell: pwsh
        run: |
          if (Test-Path -Path "build-$env:VERSION.zip") { Remove-Item -Path "build-$env:VERSION.zip" }
          Compress-Archive -Path src/* -DestinationPath "build-$env:VERSION.zip"

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: demo-build-${{ env.VERSION }}
          path: build-${{ env.VERSION }}.zip
