name: Build Artifact
on:
  push:
    branches: ["main", "dev"]

jobs:
  build:
    name: Create build artifact (ZIP)
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set version from commit count
        id: version
        shell: pwsh
        run: |
          $count = git rev-list --count HEAD
          $version = "0.0.$count"
          echo "VERSION=$version" | Out-File -FilePath $env:GITHUB_ENV -Append

      - name: Create ZIP package (PowerShell)
        shell: pwsh
        run: |
          if (Test-Path -Path "build-$env:VERSION.zip") { Remove-Item -Path "build-$env:VERSION.zip" }
          Compress-Archive -Path src/* -DestinationPath "build-$env:VERSION.zip"

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: demo-build-${{ env.VERSION }}
          path: build-${{ env.VERSION }}.zip 
